@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

/**/
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2, h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

img {
  width: 200px;
}

button {
  cursor: pointer;
}

/*Repère vertical et horizontal.
	Permet de contrôler les alignements.
	NB:Ecrire une fonction SASS, 
	réflechir à une grille de fond et|ou 
	en sur-impression.
	Outil JS dans le coin inférieure 
	de l'écran.
	*/
body:after {
  position: fixed;
  right: 3rem;
  content: "";
  width: 1px;
  height: 100%;
  background-color: red;
}

body:before {
  position: fixed;
  top: 410px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 300;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: white;
}
.header .logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  text-align: center;
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background-color: white;
  box-shadow: 0 0px 10px 2px rgba(44, 44, 44, 0.6);
  z-index: 10;
}
.header .txt__cityLocation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  background-color: #eaeaea;
}
.header .txt__cityLocation p {
  margin-left: 1rem;
}
.header article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
  padding: 2.625rem 1.5rem 3.5rem;
}
.header article h1 {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 72%;
  line-height: 1.75rem;
}
.header article p {
  margin-bottom: 2rem;
  color: rgba(80, 80, 80, 0.6);
  line-height: 1.25rem;
  font-size: 200;
}

/*Utilisation des pseudo éléments
Pour avoir une transition dans le dégradé
*/
.callToAction {
  width: 230px;
  border-radius: 1.5rem;
  padding: 1em;
  text-align: center;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  box-shadow: 0 4px 15px 0 rgba(80, 80, 80, 0.6);
  color: white;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.callToAction::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 1.5rem;
  background: linear-gradient(180deg, #ffdff6 0%, #ae80e5 100%);
  background-position: 0px 50px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s linear, 0.5s linear;
  transition: color 0.5s linear, 0.5s linear;
  transition: text-shadow 0.5s linear, 0.5s linear;
  opacity: 0;
}
.callToAction:hover::before, .callToAction:hover {
  opacity: 1;
  font-weight: bold;
  text-shadow: 0 4px 3px #9356DC;
}

main .callToAction {
  margin-bottom: 5.125rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 1.5rem;
  background-color: white;
}
.features header {
  display: flex;
  width: 100%;
}
.features header h1 {
  align-content: flex-start;
  margin-bottom: 1.5rem;
  font-family: "Roboto";
  font-size: 1.375rem;
  font-weight: 700;
}
.features ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*boucle créer une classe pour la cible*/
  /*boucle*/
}
.features ul li {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.75rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0 4px 5px 0 rgba(80, 80, 80, 0.6);
}
.features ul li a {
  display: flex;
  padding: 1.5rem 0;
  width: 100%;
  font-weight: bold;
}
.features ul li a i {
  margin: 0 1em 0 1rem;
  flex: 0 1 5%;
}
.features ul li:before {
  content: "";
  position: absolute;
  left: -0.75rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.75rem;
}
.features ul li:nth-child(1) a i {
  color: #7e7e7e;
}
.features ul li:nth-child(2) a i {
  color: #7e7e7e;
}
.features ul li:nth-child(3) a i {
  color: #9356DC;
}
.features ul li:nth-child(1):before {
  content: "1";
}
.features ul li:nth-child(2):before {
  content: "2";
}
.features ul li:nth-child(3):before {
  content: "3";
}
.features ul li a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}
.features ul .bloc__link--active {
  background-color: #f5edff;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  background-color: #f6f6f6;
}
.restaurant ul {
  display: flex;
  flex-direction: column;
}
.restaurant ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurant ul .flexImg {
  height: 174px;
  overflow: hidden;
}
.restaurant ul .imgFlex {
  width: 100%;
}

.sticker {
  border-radius: 1rem;
  height: 252px;
  box-shadow: 0 4px 5px 0 rgba(80, 80, 80, 0.6);
  margin: 0.75rem 0;
  position: relative;
  overflow: hidden;
}
.sticker img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.sticker .sticker__new {
  display: flex;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  text-transform: capitalize;
  border-radius: 2px;
}

.sticker__info {
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.75rem 1rem;
  background-color: white;
}
.sticker__info > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sticker__info .sticker__title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "roboto";
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}
.sticker__info .sticker__txt {
  font-weight: 300;
  font-family: "roboto";
  text-transform: capitalize;
}

.fontIcon__container {
  position: relative;
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  padding-left: 0.625rem;
}
.fontIcon__container .fontIcon {
  position: absolute;
  z-index: 20;
  color: #444444;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.5s linear;
  background-color: white;
}
.fontIcon__container .fontIcon:hover {
  opacity: 0;
}
.fontIcon__container .fontIcon__invisible--gradientPurple {
  background: linear-gradient(45deg, #FF79DA 0%, #9356DC 100%);
}
.fontIcon__container .fontIcon__invisible {
  position: absolute;
  z-index: 1;
  color: #9356DC;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.restaurant ul li:nth-child(1) img {
  margin-top: -2.725rem;
}

.restaurant ul li:nth-child(2) img {
  margin-top: -8.725rem;
}

.restaurant ul li:nth-child(3) img {
  margin-top: -2.725rem;
}

.restaurant ul li:nth-child(4) img {
  margin-top: -3rem;
}

footer {
  background-color: #353535;
  padding: 1.5rem;
  color: white;
}
footer h2, footer a {
  color: white;
  display: flex;
}
footer h2 {
  font-size: 0.875rem;
}
footer a {
  margin: 0.5rem 0;
  font-family: "roboto";
  font-size: 0.75rem;
}
footer li {
  display: flex;
  align-items: center;
}
footer li:nth-child(2) i {
  transform: rotate(-45deg);
  margin-left: -3px;
  font-size: 0.75rem;
}
footer i {
  font-size: 0.875rem;
  margin-right: 0.625rem;
}

.font-client {
  font-family: "Shrikhand", cursive;
}

.header--iconBack {
  position: relative;
}
.header--iconBack .iconBack {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}
.header--iconBack .hero {
  display: flex;
  height: 100%;
}
.header--iconBack .hero__img {
  width: 100%;
}

main {
  position: relative;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: -56px;
  width: 100%;
}
.menu .header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-bottom: 1.5rem;
  background-color: #f6f6f6;
  position: relative;
}
.menu .header__menu h2 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  flex: 1 0 50%;
  min-width: 50%;
}
.menu .header__menu .fontIcon__container {
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3rem;
  margin-right: 2.325rem;
}
.menu .header__menu .fontIcon__container .fontIcon {
  background: #f6f6f6 !important;
}
.menu .header__menu .fontIcon__container i.fa-heart {
  top: 0.625rem;
}

.recipe {
  margin: 0 1.5rem 1.5rem;
  overflow: hidden;
}
.recipe .recipe__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.recipe .recipe__title h3 {
  position: relative;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.recipe .recipe__title .title__dash {
  height: 3px;
  width: 30px;
  background-color: #99e2d0;
  display: flex;
  bottom: 10px;
  content: "";
}
.recipe .card__menu {
  background-color: white;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  padding: 1rem 0.75rem;
  box-shadow: 0 4px 5px 0 rgba(80, 80, 80, 0.6);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: soft_show_from_down;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translatey(100px);
}
.recipe .card__menu ~ .card__menu {
  animation-delay: 0.2s;
}
.recipe .card__menu ~ .card__menu ~ .card__menu {
  animation-delay: 0.4s;
}
.recipe .card__menu .checkIcon {
  content: "lol";
  background-color: #99e2d0;
  height: 100%;
  width: 3.5rem;
  top: 0;
  right: -3.5rem;
  position: absolute;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe .card__menu .checkIcon i {
  color: white;
  margin: 0;
  transition: transform 500ms ease-in-out;
  font-size: 1.5rem;
}
.recipe .card__menu:hover .checkIcon {
  right: 0px;
}
.recipe .card__menu:hover .checkIcon i {
  animation: rotate__icon;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: transform 500ms ease-in-out;
}
.recipe .card__menu:hover p.card__price {
  transform: translateX(-60px);
}
.recipe .card__menu .card__details {
  display: flex;
  font-weight: 300;
  justify-content: space-between;
}
.recipe .card__menu .card__details p {
  font-size: 0.9rem;
}
.recipe .card__menu .card__details .card__txt {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.recipe .card__menu .card__details .card__price {
  font-weight: bold;
  background-color: white;
  transition: transform 500ms ease-in-out;
}
.recipe .card__menu:hover .card__txt {
  width: calc(100% - 100px);
}
.recipe .card__menu h4 {
  margin-bottom: 0.5rem;
}
.recipe .card__menu h4::first-letter {
  text-transform: capitalize;
}

.animation__onLoad {
  position: absolute;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide;
  animation-duration: 0s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.animation__container {
  position: relative;
}

.animation__loader:before,
.animation__loader:after,
.animation__loader span {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 80px;
  background-color: #9356DC;
  animation: grow 1.5s linear -1s infinite;
}

.animation__loader::before {
  left: -30px;
  animation-delay: -75s;
  background-color: #FF79DA;
}

.animation__loader::after {
  left: 30px;
  animation-delay: -5s;
  background-color: #99E2D0;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    transform: opacity(1);
    width: 100%;
    height: 100%;
  }
  90% {
    transform: opacity(0);
  }
  100% {
    top: -100px;
    width: 0;
    height: 0;
  }
}
@keyframes soft_show_from_down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes translate__txt {
  0% {
    width: 100%;
  }
  50% {
    width: calc(100% - 50px);
  }
  100% {
    width: calc(100% - 100px);
  }
}
@keyframes rotate__icon {
  0% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=style.css.map */
